{
    "target" : {
        "contest" : 1176, // The contest ID you want to hack
        "index" : "B" // The Problem index you want to hack
    },

    "testcase" : {
        "inputFile" : "./data.in", // Input testcase file
        "outputFile" : "./data.ans" // Output testcase file
    },

    "account" : {
        "username" : "user", // Your account username (only if you choose to auto-login)
        "password" : "pass" // Your account Password (only iif you choose to auto-login)
    },

    "settings": {
        "autoLogin" : true, // Allow to login your account automatically
        "autoHack" : true, // Allow to hacked automatically (must allow to auto-login)
    }
}